@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix for <navlink/> in order to use less code for .tab-active */
.active {
  @apply tab-active;
}

/* 太难看了还不如不用 */
/* pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"] ::selection {
  @apply bg-base-100;
} */

.hljs {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono, monospace;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
