// 这是聊天页面要用的样式，因为默认带有 footer，而我们不需要这个 footer

.arco-layout-footer {
  display: none;
}

main.arco-layout-content {
  margin-bottom: 1rem;
  max-height: calc(100% - 2rem);
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  height: 100%;

  .chat-list {
    width: 25%;
    max-width: 250px;

    .chat-list-item {
      display: block;

      .chat-selection {
        display: flex;
        padding: 10px 20px;
        overflow: hidden;
        gap: 10px;

        .chat-selection-detail {
          flex: 1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .chat-selection-detail-name {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
          }

          .chat-selection-detail-content {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      &.active .chat-selection {
        background-color: var(--color-fill-2);
      }
    }
  }

  .chat-content {
    flex: 1;
    padding: 10px;
    background-color: var(--color-fill-2);

    .chat-content-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
      gap: 10px;

      .chat-content-main {
        flex: 1;
        background-color: var(--color-bg-3);
        overflow: scroll;

        .chat-content-message {
          display: flex;
          margin: 5px 10px;

          .chat-content-message-bubble {
            padding: 5px 10px;
            border-radius: 10px;
            max-width: 80%;
            word-break: break-word;
            white-space: pre-wrap;
          }

          &.right {
            justify-content: end;

            @media only screen and (min-width: 1300px) {
              justify-content: start;
            }

            .chat-content-message-bubble {
              background-color: rgb(var(--primary-6));
              color: white;
            }
          }

          &.left {
            justify-content: start;

            .chat-content-message-bubble {
              background-color: var(--color-fill-2);
            }
          }
        }
      }
    }
  }
}
