// 比赛题目页面的特殊样式

.contest-problem-container {
  height: 100%;
}

.contest-problem-hide,
.navbar-left {
  display: none;
}

.arco-layout-footer {
  display: none !important;
}

.header-context-footer-layout {
  height: 100vh;
  gap: 0 !important;
}

.py-20\% {
  padding: 0 2.5%;
}

.sider-context-layout {
  padding: 0;
  gap: 0 !important;
  height: calc(100vh - 4rem);
}
