@use "hljs/light.scss" as light;
@use "hljs/dark.scss" as dark;

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body[arco-theme="dark"] {
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
  color-scheme: dark;
}

// code highlight
@include light.generate();

body[arco-theme="dark"] {
  @include dark.generate();
}

// used in /problem/$pid/data.tsx
.problem-data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  column-gap: 16px;
}

@media screen and (max-width: 768px) {
  .problem-data-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

// used in /record/$recordId.tsx
.arco-collapse-item-header-title {
  overflow: hidden;
}

.arco-tabs-header-title {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
