@use "hljs/light.scss" as light;
@use "hljs/dark.scss" as dark;

body,
html {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--color-text-1);
  background-color: var(--color-bg-2);
}

body[arco-theme="dark"] {
  color: var(--color-text-1);
  background-color: var(--color-bg-2);
  color-scheme: dark;
}

// code highlight
@include light.generate();

body[arco-theme="dark"] {
  @include dark.generate();
}

// used in /problem/$pid/data.tsx
.problem-data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  column-gap: 16px;
}

@media only screen and (max-width: 768px) {
  .problem-data-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

// used in /record/$recordId.tsx
.arco-collapse-item-header-title {
  overflow: hidden;
}

.arco-btn-size-default > svg + a,
.arco-btn-size-default > a + svg {
  margin-left: 8px;
}

.arco-typography code {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
}

// sm
.py-20\% {
  padding: 0 24px;
}

.navbar-left {
  display: none;
}

.navbar-menu-opener {
  cursor: pointer;
}

// md
@media (min-width: 768px) {
  .py-20\% {
    padding: 0 5%;
  }

  .navbar-left {
    display: block;
  }

  .navbar-menu-opener {
    display: none;
  }

  .sider-context-layout {
    gap: 7.5%;
  }
}

// lg
@media (min-width: 1024px) {
  .py-20\% {
    padding: 0 10%;
  }
}

// xl
@media (min-width: 1280px) {
  .py-20\% {
    padding: 0 20%;
  }
}

::selection {
  background: var(--color-primary-light-2);
}

.arco-tabs-header-nav-text .arco-tabs-header-title-text:hover {
  background-color: transparent;
}

.arco-table .arco-table-th {
  background-color: transparent;
  font-weight: bold;
}

.arco-collapse-item-content {
  background-color: transparent;
}

a > .arco-btn {
  display: block;
}
